.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    border: 1px solid #d3d3d3;
    padding: .25rem;
    .navbar__nav--btn {
        margin-right: .5rem;
        background-color: #3f51b5;
        color: #fff;
        cursor: pointer;
    }
}

.products__list {
    margin-top: 2rem;
    table {
        border-collapse: collapse;
        width: 50vw;
        tbody {

            tr{
                border: 2px solid #000;
            }
        }
        th,td {
            padding: .5rem;
        }
        th {
            text-align: left;
        }
    }
}

.navbar__search {
    input {
        padding: .25rem;
    }
}
.btn__search {
    padding: .25rem;
    background-color: #3f51b5;
    margin-left: .25rem;
    color: #fff; 
}

.btn__action {
    padding: .25rem;
    color: #000;
    &--danger {
        background-color: #f44336;
    }
    &--success {
        background-color: #07f556;
    }
    &--hight {
        background-color: #faf6f6;
    }
    &:hover {
        cursor: pointer;
        color: #000000;
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out, color 0.2s ease-in;
    }

}
.noData {
    text-align: center;
    width: 50vw;
    color: #f44336;
}