.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: #fff;
    .navbar__links {
        font-size: 1.2em;
        .navbar__links--item {
            margin-left: .5rem;
            text-decoration: none;
            color: #fff;
        }
    }
}
.active {
    color: #18e;
}

.notification {
    color: #fff;
    background-color: #f44336;
    padding: .25rem;
    border-radius: 50px;
}