<div class="goToback">
    <span (click)="onGoToBack()">
        Retour
    </span>
</div>

<h1 class="page__title"> Modifier un produit </h1>

<form>
    <label>
        <span>Nom</span> 
        <input type="text">
    </label>
    <label>
        Prix
        <input type="text">
    </label>
    <label>
        Quantités
        <input type="text">
    </label>
    <label>
        <input type="checkbox">
        Sélectionné ?
    </label>
    <label>
        <input type="checkbox">
        Disponible ?
    </label>
</form>
